<nav class="navbar is-fixed-bottom is-hidden-desktop" role="navigation" aria-label="main navigation">
    <div class="navbar-brand  is-clear-fix">
        <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>
        {% for item in site.data.navigation %}
        <a class="navbar-item has-text-centered" href="{{ item.link }}">
            {{ item.name }}
        </a>
        {% endfor %}
        <div class="navbar-end"></div>
    </div>
</nav>