<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <figure class="image is-square">
            <img src="/assets/images/yo-cropped-400w.png" alt="Yo" class="is-rounded image-border ">
        </figure>
    </div>
</div>

<div class="columns">
    <div class=" column">
        <h1 class="title is-size-2-desktop  has-text-white has-text-centered">Jestemrique</h1>
        <h2 class="subtitle is-size-4-desktop  has-text-white has-text-centered">Learning stuff</h2>
    </div>
</div>