@charset "utf-8";

$page-hero-background: #2f4a5c;

//Home Hero.
.home-hero {
  background-color: $page-hero-background;

  .home-image-wrapper {
    position: relative;
    top: 60%;
  }

  .image-border {
    border: 0.5em solid white;
  }
}
